{% extends 'base.html' %}
{% load static %}

{% block title %}
Enrollment Successful
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/enrollment_success.css' %}">
{% endblock %}

{% block content %}

<section class="success-page">

    <div class="success-card">

        <div class="success-icon">
            <i class="fa-solid fa-check"></i>
        </div>

        <span class="success-badge">
            PAYMENT SUCCESSFUL
        </span>

        <h1>
            You're Enrolled!
        </h1>

        <p>
            Your enrollment for
            <strong>{{ course.course_name }}</strong>
            has been completed successfully.
        </p>

        <div class="success-info">

            <div>
                <span>Course</span>
                <strong>{{ course.course_name }}</strong>
            </div>

            <div>
                <span>Status</span>
                <strong class="status">
                    {{ enrollment.get_status_display }}
                </strong>
            </div>

            <div>
                <span>Progress</span>
                <strong>
                    {{ enrollment.progress }}%
                </strong>
            </div>

        </div>

        <a
            href="{% url 'my_courses' %}"
            class="my-course-btn"
        >
            Go to My Courses

            <i class="fa-solid fa-arrow-right"></i>
        </a>

    </div>

</section>

{% endblock %}